---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <h1>Login</h1>
  <form id="loginForm">
    <label for="username">Username</label>
    <input type="text" id="username" name="username" required />
    <label for="password">Password</label>
    <input type="password" id="password" name="password" required />
    <button type="submit">Login</button>
  </form>
  <p class="error"></p>
</Layout>

<script>
  const loginForm = document.querySelector("#loginForm") as HTMLFormElement;
  loginForm.addEventListener("submit", async (e) => {
    e.preventDefault();
    const formData = new FormData(e.target as HTMLFormElement);
    const formObj = Object.fromEntries(formData.entries());
    const res = await fetch(`http://localhost:3900/users/login`, {
      method: "POST",
      credentials: "include",
      headers: { "Content-Type": "application/json" },
      body: JSON.stringify(formObj),
    });
    if (!res.ok) {
      // show login error on frontend
      console.error(res);
      const error = await res.json();
      const errorElement = document.querySelector(
        ".error"
      ) as HTMLParagraphElement;
      errorElement.textContent = error.message;
      return;
    }
    // redirect to profile
    window.location.href = "/profile";
  });
</script>

<style>
  .error {
    color: red;
  }
</style>
