---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <h1>Profile</h1>
  <p>Username: <span id="username"></span></p>
  <p>First Name: <span id="firstname"></span></p>
  <p>Last Name: <span id="lastname"></span></p>
  <button class="logout">Log out</button>
</Layout>

<script>
  const username = document.querySelector("#username") as HTMLSpanElement;
  const firstname = document.querySelector("#firstname") as HTMLSpanElement;
  const lastname = document.querySelector("#lastname") as HTMLSpanElement;

  fetch(`http://localhost:3900/users/check-auth`, {
    method: "GET",
    credentials: "include",
  })
    .then((res) => res.json())
    .then((data) => {
      username.textContent = data.username;
      firstname.textContent = data.firstname;
      lastname.textContent = data.lastname;
    })
    .catch((err) => {
      console.error(err);
    });

  const logoutButton = document.querySelector(".logout") as HTMLButtonElement;
  logoutButton.addEventListener("click", async () => {
    const res = await fetch(`http://localhost:3900/users/logout`, {
      method: "GET",
      credentials: "include",
    });
    if (!res.ok) {
      console.error(res);
      return;
    }
    window.location.href = "/login";
  });
</script>
